@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@700&family=Fugaz+One&family=IM+Fell+English+SC&family=Irish+Grover&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#addPhoto{
  color:white
}
.nav-button {
  margin: 100px;
  margin-top: 10px;
  color: rgb(129, 129, 129);
}

.nav-button:hover {
  color: white;
}

#camera {
  position: relative;
  float: left;
}

.MuiBox-root.css-i9gxme{
  margin-bottom:0
}
h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  font-weight: 300px;
  color: white;
  text-decoration: none;
}

h3:visited {
  text-decoration: none;
}

#title {
  text-decoration: none
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.MuiToolbar-root{
  max-height: 50px;
}

#profilelink {
  text-decoration: none;
  color: black;
}
#grid{
  justify-content:space-evenly;
  margin-top:-100px;
}

#card {
  margin-top: 40px ;
  box-shadow: black;
  border: 1px solid rgb(194, 186, 186);
  max-width: 500px ;
  min-width: 500px;
  min-height: 500px;
  
}
#caption{
  margin-right: 1000%;
}
#comments{
  margin-right: 1000%;
}
/* #username{
  margin-right: 85%;

} */

#image-list{
  /* overflow: hidden; */
  margin-left: 155px;
}

#chatroom{
color: black
}

/* .me{
  background-color: black;
}
.them{
  background-color: red;
} */
.chat{
  width: 80%;
  border: solid 1px #EEE;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: -100px;
}

p {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
	padding: 10px 20px;
  border-radius: 25px;
  
}

.me {
	color: white; 
	background: #0B93F6;
	align-self: flex-end;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
  
}

.them {
	background: #E5E5EA;
	color: black;
  align-self: flex-start;	
  background: linear-gradient(to bottom, #E5E5EA 0%, #E5E5EA 100%);
  background-attachment: fixed;
  position: relative;
  margin-left: 210px;
  
	}

  #input-box {
  margin-left: 460px;
  /* position:center */
    
  }

 